{
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "new-cap": 0,
    "space-infix-ops": ["error", {"int32Hint": false}],
    "no-console": { "allow": ["log"] }
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended"
  ]
}