### Server ###
.gradle
/build/
server/out/
!gradle/wrapper/gradle-wrapper.jar
server/src/main/resources/static

### Client ###
client/node_modules
client/.coverage
e2e.results.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
client/package-lock.json